trigger:
  branches:
    include:
    - master
jobs:
- job: Buildltsc2019
  displayName: Build WorkflowGen's Images (ltsc2019)
  strategy:
    matrix:
      "7.15":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.15"
        WFGEN_VERSION: 7.15.12
        ADDITIONAL_TAGS: 7.15, 7.15.12
      "7.16":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.16"
        WFGEN_VERSION: 7.16.9
        ADDITIONAL_TAGS: 7.16, 7.16.9
      "7.14":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.14"
        WFGEN_VERSION: 7.14.12
        ADDITIONAL_TAGS: 7.14, 7.14.12
      "7.17":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.17"
        WFGEN_VERSION: 7.17.5
        ADDITIONAL_TAGS: 7.17, 7.17.5
      "7.18":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.18"
        WFGEN_VERSION: 7.18.4
        ADDITIONAL_TAGS: 7.18, 7.18.4
      "7.19":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.19"
        WFGEN_VERSION: 7.19.2
        ADDITIONAL_TAGS: 7.19, 7.19.2
      "7.20":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.20"
        WFGEN_VERSION: 7.20.2
        ADDITIONAL_TAGS: 7.20, 7.20.2
      "7.21":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.21"
        WFGEN_VERSION: 7.21.1
        ADDITIONAL_TAGS: 7.21, 7.21.1
      "7.22":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "7.22"
        WFGEN_VERSION: 7.22.15
        ADDITIONAL_TAGS: 7, 7.22, 7.22.15
      "8.0":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "8.0"
        WFGEN_VERSION: 8.0.12
        ADDITIONAL_TAGS: 8.0, 8.0.12
      "8.1":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "8.1"
        WFGEN_VERSION: 8.1.3
        ADDITIONAL_TAGS: 8.1, 8.1.3
      "8.2":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "8.2"
        WFGEN_VERSION: 8.2.4
        ADDITIONAL_TAGS: 8.2, 8.2.4
      "9.0":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "9.0"
        WFGEN_VERSION: 9.0.7
        ADDITIONAL_TAGS: 9.0, 9.0.7
      "8.3":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "8.3"
        WFGEN_VERSION: 8.3.5
        ADDITIONAL_TAGS: 8.3, 8.3.5
      "9.1":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "9.1"
        WFGEN_VERSION: 9.1.1
        ADDITIONAL_TAGS: 9.1, 9.1.1
      "9.2":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "9.2"
        WFGEN_VERSION: 9.2.11
        ADDITIONAL_TAGS: 9.2, 9.2.11
      "10.0":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "10.0"
        WFGEN_VERSION: 10.0.5
        ADDITIONAL_TAGS: 10.0, 10.0.5
      "9.3":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "9.3"
        WFGEN_VERSION: 9.3.3
        ADDITIONAL_TAGS: 9.3, 9.3.3
      "8.4":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "8.4"
        WFGEN_VERSION: 8.4.0
        ADDITIONAL_TAGS: 8, 8.4, 8.4.0
      "9.4":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "9.4"
        WFGEN_VERSION: 9.4.0
        ADDITIONAL_TAGS: 9, 9.4, 9.4.0
      "10.1":
        WINDOWS_SERVER_VERSION: ltsc2019
        WFGEN_VERSION_FOLDER: "10.1"
        WFGEN_VERSION: 10.1.0
        ADDITIONAL_TAGS: latest, 10, 10.1, 10.1.0
  steps:
  - template: scripts/steps/build-images.yml
  pool:
    vmImage: windows-2022
